.reviewStudent {
    position: relative;
    padding: 50px 0;
}
.textQoute {
    position: relative;
    line-height: 30px;
    font-size: 17px;
}

.reviewStudent blockquote q::before {
    position: absolute;
    top: 0;
    left: -6%;
    font-size: 50px;
    font-family: fantasy;
    color: #ed85ab;
}

.reviewImg {
    display: flex;
    position: relative;
    justify-content: center;
    height: 100%;
    align-items: center;
}

.reviewImg img {
    width: 200px;
    height: 200px;
    position: relative;
    z-index: 10;
}

.bgStudentReview {
    top: -10%;
    z-index: 1;
    height: 220px;
    width: 230px;
    position: absolute;
    background-color: #ed85ab;
    border-radius: 10px 100px 110px;
}

.quoteRight {
    padding: 10px;
}

.textQoute p {
    color: #8c8c8c;
}

.quoteRight span {
    color: #8c8c8c;
}

.textName {
    color: #ed85ab !important;
}
.review {
    padding: 20px 50px;
    position: relative;
}

.reviewStudent .smallboxLeftTop {
    top: 0;
    left: 0;
    height: 70px;
    width: 10%;
}

.reviewStudent .triangleTopRight {
    top: 0;
    left: 0;
}

.reviewStudent .smallboxRightBottom {
    bottom: 0;
    right: 10%;
    height: 50px;
    background-image: radial-gradient(#f6ba35 10%, transparent 11%);
}

.reviewStudent .smallboxRightTop {
    top: 0;
    right: 40%;
    height: 50px;
    width: 80px;
    background-image: radial-gradient(#41b294 10%, transparent 11%);
}
.reviewStudent .smallboxLeftBottom {
    border-radius: 50%;
    bottom: 0;
    left: 30%;
    height: 80px;
    width: 80px;
    background-image: radial-gradient(#41b294 10%, transparent 11%);
}

/* Mobie */
@media screen and (max-width: 46.1875em) {
    .triangleTopRight {
        left: 15%;
    }
    .reviewStudent .smallboxLeftTop {
        width: 15%;
    }

    .reviewStudent .smallboxRightTop {
        right: 0;
    }

    .reviewStudent .smallboxRightBottom {
        display: none;
    }
    .reviewStudent .smallboxLeftBottom {
        left: auto;
        right: 0;
    }
}

@media screen and (min-width: 46.25em) and (max-width: 63.9375em) {
    /* Review student */
    .bgStudentReview {
        top: 10%;
    }
    .reviewStudent .smallboxLeftTop {
        width: 15%;
    }
}
