.instructorContainer {
    padding: 0px 50px;
}

.instructorContent {
    display: flex;
    height: 100%;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 15px;
    border-radius: 5px;
    border: none;
    transition: all 0.5s;
}

.instructorContent:hover {
    box-shadow: 0 0 10px 6px rgba(0, 0, 0, 0.13);
}

.instructorContent img {
    height: 80px;
    width: 80px;
    object-fit: cover;
    border-radius: 50%;
}

.instructorContent h6 {
    padding-bottom: 5px;
}

.textReviewRole {
    padding: 3px 0;
}

.instructorContent p i {
    color: #f6ba35;
}

.textStar {
    color: #f6ba35;
}

.textReviewBot {
    font-size: 13px;
    color: #8c8c8c;
}

.sliderDot {
    display: flex;
    justify-content: center;
    margin-top: 8px;
}

.labelDotLeft {
    position: absolute;
    width: 12px;
    height: 12px;
    background-color: #41b294;
    cursor: pointer;
    border-radius: 50%;
    margin-right: 8px;
    opacity: 1;
}

.layDotLeft {
    position: absolute;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #41b294;
    opacity: 0.25;
    display: none;
}
.dotLeft {
    position: relative;
    padding-right: 20px;
}

.labelDotRight {
    position: absolute;
    width: 12px;
    height: 12px;
    background-color: #41b294;
    cursor: pointer;
    border-radius: 50%;
    opacity: 0.25;
}

.layDotRight {
    position: absolute;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #41b294;
    opacity: 0.25;
    display: block;
}

input[type='checkbox'],
input[type='radio'] {
    box-sizing: border-box;
    padding: 0;
}

#sliderInstructors:checked ~ .instructorItem .grid-flow-col {
    transform: translateX(-16.66667%);
}
#sliderInstructors:checked ~ .sliderDot .dotRight .labelDotRight {
    opacity: 1;
}
#sliderInstructors:checked ~ .sliderDot .dotRight .layDotRight {
    display: none;
}
#sliderInstructors:checked ~ .sliderDot .dotLeft .labelDotLeft {
    opacity: 0.25;
}
#sliderInstructors:checked ~ .sliderDot .dotLeft .layDotLeft {
    display: block;
}

/* Mobie */
@media screen and (max-width: 46.1875em) {
    .sliderHome {
        flex-direction: column-reverse;
    }
    .sloganContainer h1 {
        font-size: 40px;
    }
    .sliderPlaneImg {
        position: absolute;
        object-fit: contain;
        right: 25%;
        top: 0%;
        width: 25%;
        height: 30%;
    }
    .infoCourseHome {
        grid-template-columns: none;
    }
    .subCard {
        display: none;
    }

    .instructorContent p i {
        font-size: 13px;
    }

    /* Slider Mentor */
    #sliderInstructors:checked ~ .instructorItem .grid-flow-col {
        transform: translateX(-100%);
    }
    /* Review Student */
    .triangleTopRight {
        left: 15%;
    }
    .reviewStudent .smallboxLeftTop {
        width: 15%;
    }

    .reviewStudent .smallboxRightTop {
        right: 0;
    }

    .reviewStudent .smallboxRightBottom {
        display: none;
    }
    .reviewStudent .smallboxLeftBottom {
        left: auto;
        right: 0;
    }
}

/* Tablet */
@media screen and (min-width: 46.25em) and (max-width: 63.9375em) {
    .sliderHome {
        flex-direction: column-reverse;
    }
    .sliderPlaneImg {
        position: absolute;
        object-fit: contain;
        right: 25%;
        top: 0%;
        width: 25%;
        height: 30%;
    }
    .infoCourseHome {
        grid-template-columns: none;
    }
    .instructorContent {
        padding: 5px;
    }
    .instructorContent p i {
        font-size: 13px;
    }
    /* Slider Mentor */
    #sliderInstructors:checked ~ .instructorItem .grid-flow-col {
        transform: translateX(-50%);
    }
    /* Review student */
    .bgStudentReview {
        top: 10%;
    }
    .reviewStudent .smallboxLeftTop {
        width: 15%;
    }
}
