.boxNumberContainer {
    padding: 50px;
    background-color: #f0f8ff;
}

.boxNumber {
    width: 100%;
    text-align: center;
}

.imgIcon {
    width: 80px;
    height: 80px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.textNumberTitle {
    font-weight: 500;
    text-align: center;
}

.textNumber {
    color: #41b294;
    font-size: 50px;
    text-align: center;
}
