.header {
    z-index: 100;
    position: relative;
    background-color: transparent;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
}

.headerLeft {
    display: flex;
}

.headerFixed {
    /* position: fixed; */
    box-shadow: 0 2px 24px 0 rgb(0 0 0 / 15%);
    background-color: #fff;
    padding: 5px 50px;
    transition: all 0.5s;
    animation: fadeInDown ease-in 0.5s;
}

.searchForm {
    outline: none;
    border: none;
    width: 100%;
    height: 40px;
    margin-top: 20px;
    border-radius: 8px;
    padding-left: 10px;
    margin-left: 15px;
    background-image: url(../../../public/image/search.fb399e91.png);
    background-size: 30px;
    background-position: 100%;
    background-repeat: no-repeat;
    background-color: rgb(245, 245, 245);
}

.searchForm:focus {
    border: 2px solid #41b294;
    outline: none;
}

.textLogo {
    position: relative;
    display: inline-block;
    font-size: 20px;
    transition: all 0.3s;
}

.textLogo :hover {
    transition: all 0.5s;
    transform: scale(1.05);
}

.courseCate {
    position: relative;
    display: flex;
    align-items: center;
}

.headerRight {
    display: flex;
}

ul.menuHeader {
    display: flex;
    align-items: center;
    padding: 0 8px;
    justify-content: space-between;
}

ul.menuHeader li {
    padding: 0 10px;
}

ul.menuHeader li a {
    font-size: 15px;
    font-weight: 500;
    color: #252525;
    text-transform: uppercase;
    transition: all 0.5s ease-in-out;
}

ul.menuHeader li:hover i,
ul.menuHeader li:hover a {
    color: #41b294;
}

ul.menuHeader li a {
    transition: all 0.25s ease-in-out;
}

.courseCate {
    display: flex;
    position: relative;
    align-items: center;
}

.courseCate i {
    padding-right: 3px;
    transition: all 0.5s;
}

.courseCate::after {
    content: '';
    position: absolute;
    top: 20px;
    left: 0;
    width: 100%;
    height: 40px;
    z-index: 1;
}

.courseCateList {
    position: absolute;
    top: 32px;
    left: 0;
    z-index: 100;
    overflow: hidden;
    background-color: rgba(1, 135, 126, 0.5);
    min-width: 200px;
    transition: all 0.5s;
    z-index: 100;
}

.headerFixed .courseCateList {
    top: 12px;
    left: 32px;
}

.courseCateList li {
    padding: 10px;
}

.courseCateList li a {
    color: #252525 !important;
}

.courseCateList li:hover a {
    color: #fff !important;
}

.courseCate ul {
    visibility: hidden;
    opacity: 0;
    min-width: 5rem;
    position: absolute;
    transition: all 1s ease;
    margin-top: 1rem;
    left: 0;
    display: none;
}

.courseCate,
.eventHeader {
    position: relative;
}

.courseCate .courseCateList li,
.eventHeader .courseCateList li {
    padding: 10px;
}

.menuHeader .courseCate .courseCateList li a,
.menuHeader .eventHeader .courseCateList li a {
    color: #252525;
}

.menuHeader .courseCate .courseCateList li:hover a,
.menuHeader .eventHeader .courseCateList li:hover a {
    color: #fff;
}

.menuMobie .menuHeaderMobie .courseCateMobie .courseCateListMobie li a,
.menuMobie .menuHeaderMobie .eventHeaderMobie .courseCateListMobie li a {
    color: #252525;
}

.menuMobie .menuHeaderMobie .courseCateMobie .courseCateListMobie li:hover a,
.menuMobie .menuHeaderMobie .eventHeaderMobie .courseCateListMobie li:hover a {
    color: #fff;
}

.courseCate:hover .courseCateList,
.eventHeader:hover .courseCateList {
    max-height: 400px;
    width: 200px;
}

.eventHeader:hover .courseCateList {
    max-height: 400px;
    width: 180px;
}

.menuHeader li:hover > ul,
.courseCate ul:hover {
    visibility: visible;
    opacity: 1;
    display: block;
    transition: all 0.5s ease;
}

.courseCateList li {
    clear: both;
    width: 100%;
}

.courseCate:hover,
.courseCateList {
    max-height: 400px;
}

.btnGlobal {
    padding: 5px 10px;
    background-color: #f6ba35;
    border: none;
    transition: all 0.5s;
    text-transform: uppercase;
    font-size: 15px;
}

.btnGlobal a {
    color: #fff;
}

.btnGlobal:hover {
    transform: scale(0.97);
}

.headerFixed .menuHeaderMobie {
    top: 70px;
}
.menuMobie {
    display: none;
    position: relative;
    font-size: 25px;
}

.menuHeaderMobie {
    position: fixed;
    width: 180px;
    top: 80px;
    right: 0;
    transform: translateX(calc(100% + 50px));
    background-color: rgb(1, 135, 126, 0.8);
    animation: fadeInDown ease-in 0.5s;
    transition: all 0.5s;
}

.menuHeaderMobie.active {
    transform: translateX(0);
}

.menuMobie ul.menuHeaderMobie li {
    padding: 5px;
    font-size: 20px;
    list-style: none;
    text-align: center;
}

.menuMobie ul.menuHeaderMobie li a {
    font-size: 15px;
    font-weight: 500;
    color: #252525;
    text-transform: uppercase;
    transition: all 0.5s;
}

.menuMobie ul.menuHeaderMobie li:hover a {
    color: #fff;
}

.menuMobie .menuHeaderMobie .courseCateMobie .courseCateListMobie li a,
.menuMobie .menuHeaderMobie .eventHeaderMobie .courseCateListMobie li a {
    color: #252525;
}

.menuMobie .menuHeaderMobie .courseCateMobie .courseCateListMobie li:hover a,
.menuMobie .menuHeaderMobie .eventHeaderMobie .courseCateListMobie li:hover a {
    color: #fff;
}

.courseCateListMobie {
    position: absolute;
    top: 20%;
    left: calc(-100% - 20px);
    z-index: 999;
    max-height: 0;
    overflow: hidden;
    background-color: rgb(1, 135, 126, 0.9);
    transition: all 0.5s linear;
    min-width: 200px;
    transition: all 0.5s;
}

.eventHeaderMobie:hover .courseCateListMobie {
    top: 60%;
}

.courseCateMobie:hover .courseCateListMobie {
    max-height: 400px;
}

.showIconHeader {
    display: flex;
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.searchFormMobile {
    border: 1px solid #41b294;
    padding: 2px 8px;
    outline: none;
    width: 100%;
}

/* Mobie */
@media screen and (max-width: 46.1875em) {
    /* Menu mobie */
    ul.menuHeader {
        display: none;
    }
    .menuMobie {
        display: block;
        padding-left: 5px;
    }
    .searchForm {
        display: none;
    }
    .logout {
        display: none;
    }
}

/* Tablet */
@media screen and (min-width: 46.25em) and (max-width: 63.9375em) {
    .searchForm {
        margin-left: 10px;
    }
    .btnGlobal {
        padding: 5px;
    }
    .courseCateList {
        top: 55px;
    }
    .headerFixed .courseCateList {
        top: 57px;
    }
}
