@tailwind base;
@tailwind components;
@tailwind utilities;

/* login and register page */
.form-1,
.form-2 {
    background-repeat: no-repeat;
    background-size: cover;
}
.form-1 .form-login {
    background-size: 200%;
    background-repeat: no-repeat;
    opacity: 0.9;
    font-size: 30px;
    padding-top: 92px;
}
.form-2 .form-register {
    background-size: 200%;
    background-repeat: no-repeat;
    opacity: 0.9;
    font-size: 30px;
    padding-top: 79px;
}
/* coursePage */

.course-container .item-course {
    transition: 0.5s;
}
.course-container .item-course:hover {
    transform: translateY(-7px);
}
/* pagination */
.pagination {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
    margin-top: 30px;
    font-size: 1rem;
    gap: 5px;
}
.pagination .page-num {
    padding: 4px 10px;
    cursor: pointer;
    border-radius: 3px;
    font-weight: 400;
    transition: 0.5s;
    border: 2px solid #5ab1bb;
}
.pagination .page-num:hover {
    background-color: #5ab1bb;
    color: #fff;
}
.pagination .active {
    background-color: #5ab1bb;
}
/* detailPage */
.detailPage .btn-xemTruoc:hover,
.detailPage .btn-dangKy:hover {
    background-color: #5ab1bb;
    color: white;
}
.detailPage .btn-xemTruoc,
.detailPage .btn-dangKy {
    transition: 0.4s;
}
/* ItemDetailPage */
.cardSale {
    position: absolute;
    top: 20px;
    left: -5px;
    width: 85px;
    height: 29px;
    padding: 4px 8px 4px;
    color: var(--colorWhite);
    background-color: red;
    font-weight: 600;
    font-size: 13px;
    text-transform: uppercase;
}
.cardSale::before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    left: 0;
    bottom: -10px;
    border-bottom: 10px solid transparent;
    border-right: 5px solid red;

    filter: brightness(0.8);
}
.cardSale::after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    top: 0;
    right: -12px;
    border-color: red transparent;
    border-style: solid;
    border-width: 15px 12px 15px 0;
}
/* eventPage */
.eventPage .nav-bar {
    background: url('./assets/img/event_img/bg_AI.jpg');
    background-repeat: none;
    background-size: cover;
    filter: grayscale(50%);
}
.eventPage .nav-bar .time-title {
    padding-right: 600px;
}
.eventPage .nav-bar .time-title p {
    text-align: center;
}
.eventPage .nav-bar::after {
    content: '';
    position: absolute;
    z-index: -1;
    top: -40px;
    bottom: 0;
    width: 100%;
    background-image: url('./assets/img/event_img/AI.png');
    background-repeat: no-repeat;
    background-position: 100%;
    background-size: contain;
}
.eventPage .event-container .first-title .content .buttons button:hover {
    transform: scale(0.9);
}
.eventPage .event-container .first-title .content .buttons button {
    transition: 0.9s;
}
.eventPage .event-container .creator-event {
    position: relative;
    background: url('./assets/img/event_img/lightTech.jpg');
}
.eventPage .event-container .creator-event::after {
    z-index: 5;
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    background: linear-gradient(90deg, rgba(124, 121, 122, 0.5), rgba(111, 183, 241, 0.5) 100%);
}
.eventPage .event-container .creator-event .item-img {
    z-index: 1000;
    margin-bottom: 30px;
}
.eventPage .event-container .creator-event h2 {
    position: absolute;
    z-index: 100;
    top: 5%;
    left: 38%;
}
.eventPage .event-container .donors-event .item-img img {
    height: 230px;
    width: 320px;
    border-radius: 5%;
    object-fit: cover;
}
/* inforPage */
.inforPage .banner {
    background: url('./assets/img/infor_img/bgAbout.png');
    background-position: none;
    background-size: 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
.inforPage .item-content .title {
    line-height: 2.3;
    color: #8c8c8c;
}
.inforPage .item-content .title::first-letter {
    font-family: Lucida Grande;
    color: #d12323;
    float: left;
    font-size: 4em;
    margin: 0 0.1em 0 0;
    line-height: 1;
}
.inforPage .item-img img {
    width: 100%;
    height: 100%;
    height: 382px;
    object-fit: contain;
    border-radius: 30%;
}
.inforPage .item-img.green {
    background: url('./assets/img/infor_img/solutions-hero-green-bg.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50%;
}
.inforPage .item-img.blue {
    background: url('./assets/img/infor_img/solutions-hero-royalBlue-bg.e6aa17e0.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50%;
}
.inforPage .item-content {
    padding-top: 50px;
}
/* blogPage */
.blogPage .blog-container .item-left .item {
    height: 550px;
}
.blogPage .blog-container .item-left .blog-btn {
    transition: 0.8s;
}
.blogPage .blog-container .item-left .blog-btn:hover {
    transform: scale(0.9);
}
.blogPage .blog-container .item-right .title p {
    margin-bottom: 15px;
    cursor: pointer;
    transition: 0.9s;
}
.blogPage .blog-container .item-right .title p:hover {
    transform: translateY(-7px);
    color: rgb(8, 116, 8);
}

/* footer */
.footer .khoaHoc .li:hover,
.footer .lienKet .li:hover {
    transform: translateY(-2px);
    color: #5ab1bb;
    cursor: pointer;
}
.footer .khoaHoc .li:hover,
.footer .lienKet .li {
    transition: all 0.5s;
}
.footer .tuVan .input:focus-visible {
    outline: none;
}
.footer .tuVan .input {
    background-color: #f5f5f5;
}
.footer .tuVan .input:focus {
    padding-left: 17px;
}
.footer .footer-end i {
    transition: 0.5s;
    cursor: pointer;
}
.footer .footer-end i:hover {
    box-shadow: 1px 2px 2px 1px #636363;
}

/* BackTop */
.back-to-top {
    position: fixed;
    z-index: 100;
    bottom: 20px;
    right: 20px;
    font-size: 20px;
    background: #5ab1bb;
    color: white;
    transition: 0.7s;
    cursor: pointer;
    padding: 5px 12px;
    border-radius: 20%;
    border: none;
    box-shadow: 0 5px 10px #ccc;
}
.back-to-top:hover {
    background-color: #5acad7;
}

/* REPONSIVE */
/* mobile */
@media (max-width: 46.1875em) {
    /* registerPage */
    .form-2 {
        padding-top: 30px !important;
        padding-right: 0px !important;
        padding-left: 0px !important;
        padding-bottom: 60px !important;
        height: 100vh !important;
    }
    .form-2 .form-register {
        padding: 0px 15px !important;
        padding-top: 20px !important;
        padding-bottom: 20px !important;
        margin-top: 70px !important;
        position: relative;
    }
    .form-2 .text-signUp {
        top: 25px !important;
    }
    .ant-col {
        margin-left: 0px !important;
    }
    /* loginPage */
    .form-1 {
        padding-top: 30px !important;
        padding-right: 20px !important;
        padding-left: 20px !important;
        padding-bottom: 60px !important;
        height: 100vh !important;
    }
    .form-1 .form-login {
        padding: 0px 15px !important;
        padding-top: 20px !important;
        padding-bottom: 20px !important;
        margin-top: 70px !important;
        position: relative;
    }
    .form-1 .text-signIn {
        top: 140px !important;
    }
    .ant-col {
        margin-left: 0px !important;
    }

    /* coursePage */
    .course-container .list-logo .logos {
        display: grid;
        grid-template-columns: 1;
    }
    .course-container .list-logo .logos .item {
        padding: 60px !important;
    }
    .course-container .container {
        padding-left: 50px !important;
        padding-right: 50px !important;
    }
    .course-container .listCourse .grid-item {
        display: grid;
        grid-template-columns: 1;
    }
    .course-container .listCourse .previous,
    .course-container .listCourse .next {
        display: none !important;
    }
    /* detailPage */
    .detailPage .item-name h2 {
        font-size: 25px !important;
    }
    .detailPage .detail-container {
        display: flex !important;
        flex-wrap: wrap;
        padding: 0 20px !important;
    }
    .detailPage .detail-container .detail-left {
        flex: 100% !important;
    }
    .detailPage .detail-container .detail-left .item-left {
        display: flex !important;
        flex-wrap: wrap !important;
    }
    .detailPage .detail-container .detail-left .item-left .col-2,
    .col-3 {
        flex: 100% !important;
        margin-top: 25px !important;
    }
    .detailPage .detail-container .detail-left .second-item .col-2 {
        margin-top: 0px !important;
    }
    .detailPage .detail-container .detail-left .third-item .item-1 h1 {
        font-size: 18px !important;
        text-align: center !important;
    }
    .detailPage .detail-container .detail-left .third-item .item-1 h1 span {
        margin-left: 0px !important;
        display: block !important;
        margin-top: 10px !important;
    }
    .detailPage .detail-container .detail-left .third-item .item-1 i,
    .detailPage .detail-container .detail-left .third-item .item-1 p {
        font-size: 14px !important;
    }
    .detailPage .detail-container .detail-left .third-item .item-1 p span {
        margin-left: 2px !important ;
    }
    .detailPage .detail-container .detail-right {
        flex: 100% !important;
        margin-left: 0px !important;
    }
    .detailPage .four-item .grid-item {
        display: grid;
        grid-template-columns: 1;
    }
    /*inforPage */
    .inforPage .banner {
        background-size: 300%;
        background-position-x: 50%;
        padding: 100px 0 !important;
    }
    .inforPage .container {
        padding: 0 30px !important;
        display: grid;
        grid-template-columns: 1;
    }
    .inforPage .container .item-content .text-4xl {
        font-size: 22px !important;
    }
    /* eventPage */
    .eventPage .nav-bar .content {
        padding: 80px 0px !important;
        margin-right: 30px !important;
    }
    .eventPage .nav-bar .content .time-title {
        display: grid;
        grid-template-columns: auto auto;
        padding-right: 0px !important;
    }
    .eventPage .nav-bar .content .main-content {
        text-align: center !important;
        padding-left: 20px !important;
    }
    .eventPage .event-container .first-title {
        display: grid;
        grid-template-columns: 1;
    }
    .eventPage .event-container .first-title .robot-img img {
        width: 100% !important;
    }
    .eventPage .event-container .first-title .content h1 {
        font-size: 27px !important;
    }
    .eventPage .event-container .creator-event h2 {
        position: absolute;
        z-index: 100;
        top: 2%;
        left: 7%;
        font-size: 25px;
    }
    .eventPage .event-container .creator-event .container {
        display: grid;
        grid-template-columns: 1;
    }
    .eventPage .event-container .creator-event .container .item-img {
        margin-top: 10px !important;
        margin-bottom: 0px !important;
    }
    .eventPage .event-container .donors-event .container {
        display: grid;
        grid-template-columns: 1;
    }
    /* blogPage */
    .blogPage .container h2 {
        padding: 20px 20px !important;
    }
    .blogPage .blog-container {
        display: flex;
        flex-wrap: wrap !important;
        padding: 0 20px !important;
    }
    .blogPage .blog-container .item-left {
        flex: 100%;
    }
    .blogPage .blog-container .item-left {
        display: grid;
        grid-template-columns: 1;
    }
    .blogPage .blog-container .item-left .item {
        height: 600px !important;
    }
    .blogPage .blog-container .item-right .card {
        width: 320px !important;
    }

    /* footer */
    .footer .colums {
        display: grid;
        grid-template-columns: 1;
        position: relative;
    }
    .footer .colums .col-3 {
        position: absolute;
        right: 10%;
        top: 33%;
    }
    .footer .colums .col-3,
    .col-2,
    .col-4 {
        margin-top: 30px;
    }
    .footer .footer-end {
        display: grid;
        grid-template-columns: 1;
    }
    .footer .footer-end h2 {
        font-size: 14px !important;
        margin-bottom: 10px !important;
    }
}
/* tablet */
@media (min-width: 46.25em) and (max-width: 63.9375em) {
    /* registerPage */
    .form-2 {
        padding: 0px !important;
        height: 100vh !important;
    }
    .form-2 .form-register {
        padding: 0px 15px !important;
        padding-top: 20px !important;
        padding-bottom: 20px !important;
        margin-top: 0px !important;
        position: relative;
    }
    .form-2 .form-register .button {
        position: absolute;
        left: 0;
    }
    .ant-form-item-control-input {
        width: 100% !important;
    }
    .form-2 .text-signUp {
        top: 200px !important;
    }
    .ant-col {
        margin-left: 0px !important;
    }
    /* loginPage */
    .form-1 {
        padding-top: 30px !important;
        padding-right: 30px !important;
        padding-left: 30px !important;
        padding-bottom: 60px !important;
        height: 100vh !important;
    }
    .form-1 .form-login {
        padding: 0px 15px !important;
        padding-top: 20px !important;
        padding-bottom: 20px !important;
        margin-top: 70px !important;
        position: relative;
    }
    .form-1 .text-signIn {
        top: 300px !important;
    }
    .ant-col {
        margin-left: 0px !important;
    }

    /* coursePage */
    .course-container .list-logo .logos .item {
        padding: 10px !important;
        width: 130px;
        height: 170px;
    }
    .course-container .listCourse .grid-item {
        display: grid;
        grid-template-columns: auto auto;
    }
    .course-container .container {
        padding: 50px 60px;
    }
    /* detailPage */
    .detailPage .detail-container {
        padding: 0 25px !important;
    }
    .detailPage .detail-container .detail-left {
        width: 50% !important;
    }
    .detailPage .detail-container .detail-right {
        width: 50% !important;
    }
    .detailPage .detail-container .detail-left .item-left {
        display: flex !important;
        flex-wrap: wrap !important;
    }
    .detailPage .detail-container .detail-left .item-left .col-2,
    .col-3 {
        flex: 100% !important;
        margin-top: 25px !important;
    }
    .detailPage .detail-container .detail-left .third-item .item-1 h1 {
        font-size: 22px !important;
        text-align: center !important;
    }
    .detailPage .detail-container .detail-left .third-item .item-1 h1 span {
        margin-left: 0px !important;
        display: block !important;
        margin-top: 10px !important;
    }
    .detailPage .four-item .grid-item {
        display: grid;
        grid-template-columns: auto auto;
    }
    /*inforPage */
    .inforPage .banner {
        background-size: 300%;
        background-position-x: 50%;
        padding: 200px 0 !important;
    }
    .inforPage .container {
        padding: 10px 40px !important;
    }
    /* eventPage */
    .eventPage .nav-bar .content {
        padding: 80px 0px !important;
        margin-right: 30px !important;
    }
    .eventPage .nav-bar .content .time-title {
        padding-right: 0px !important;
    }
    .eventPage .nav-bar .content .main-content {
        text-align: center !important;
        padding-left: 20px !important;
    }
    .eventPage .event-container .first-title {
        display: grid;
        grid-template-columns: 1;
    }
    .eventPage .event-container .first-title .robot-img img {
        width: 100% !important;
    }
    .eventPage .event-container .first-title .content h1 {
        font-size: 27px !important;
    }
    .eventPage .event-container .creator-event h2 {
        position: absolute;
        z-index: 100;
        top: 1%;
        left: 29%;
        font-size: 30px;
    }
    .eventPage .event-container .creator-event .container {
        display: grid;
        grid-template-columns: auto auto;
        padding-right: 10px !important;
    }
    .eventPage .event-container .creator-event .container .item-img {
        margin-top: 10px !important;
        margin-bottom: 0px !important;
    }
    .eventPage .event-container .donors-event .container {
        display: grid;
        grid-template-columns: auto auto;
        padding-right: 0px !important;
    }
    /* blogPage */
    .blogPage .container h2 {
        padding: 20px 20px !important;
    }
    .blogPage .blog-container {
        display: flex;
        flex-wrap: wrap !important;
        padding: 0 20px !important;
    }
    .blogPage .blog-container .item-left {
        flex: 100%;
    }
    .blogPage .blog-container .item-left {
        display: grid;
        grid-template-columns: auto auto;
    }
    .blogPage .blog-container .item-left .item {
        height: 600px !important;
    }
    .blogPage .blog-container .item-right .card {
        width: 100% !important;
    }
    /*footer  */
    .footer .colums {
        display: grid;
        grid-template-columns: auto auto;
    }
    .footer .colums .col-3,
    .col-4 {
        margin-top: 30px;
    }
}
@layer base {
    @font-face {
        font-family: 'Roboto';
        font-weight: 400;
        src: url('/src/assets/fonts/roboto/Roboto-400.woff2') format('woff2');
    }

    span,
    div,
    button,
    input,
    a {
        font-size: 16px;
        font-family: 'Roboto', sans-serif;
    }
}
